body{
	overflow: hidden;
}

h1{
	font-family: 'Patua One', sans-serif;
	text-align: center;
	font-size: 1.5em;
	color:blue;
	letter-spacing: 0.6px;
}

p{
	font-family: 'Montserrat', sans-serif;
	color: black;
	text-align: center;
	line-height: 20px;
	font-size: 1em;
}

a{
	text-align: center;
	text-decoration: none;
	color: red;
	font-family: 'Patua One', sans-serif;
	font-size: 2em;
}

a:hover{
	color: blue;

}

a:visited{
	color: purple;
}

.main{
	width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}